@charset "UTF-8";

html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #e8ffff;
}

#contents {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  margin: auto;
  background-color: white;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: bold;
  line-height: 1.3;
  color: #000055;
  overflow-wrap: break-word;
  background-color: #c0cbff;
}

h1 {
  padding-left: 15px;
  font-size: 1.4rem;
}

h2 {
  padding-left: 15px;
  margin-top: 10px;
  font-size: 1.3rem;
}

div.inner {
  margin: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
  background-color: #fafaff;
}

tr:nth-child(odd) {
  background: #f4f4ff;
}

th,
td {
  padding: 5px 7px;
  border: 1px solid #9aa6cf;
}

th {
  font-weight: bold;
  color: #000055;
  background-color: #c0cbff;
}

td {
  text-align: left;
}

img.favicon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin: 0 10px 0 5px;
}

td a {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 8px;
  margin: 10px;
  text-align: left;
}

.profile-icon {
  width: 100px;
  height: auto;
}

.profile-name {
  font-weight: bold;
}

.profile-label {
  display: inline-block;
  min-width: 5.5em;
  margin-right: 0.2em;
  text-align: right;
}

.profile-links p {
  margin: 2px 0;
}

.profile-links a {
  margin-left: 0.2em;
}

@media (max-width: 600px) {
  .profile {
    display: block;
  }

  .profile-image {
    margin-bottom: 0.5em;
    text-align: center;
  }
}
