html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 700px;
  padding: 0;
  margin: auto;
  text-align: center;
  background-color: white;
}

h1 {
  margin: 0;
  font-size: 18px;
  background-color: pink;
}

div.inner {
  margin: 5px;
}

table {
  border-collapse: collapse;
  background-color: #fafaff;
}

tr:nth-child(odd) {
  background: #f4f4ff;
}

th,
td {
  padding: 5px 10px;
  border: 2px solid #87ceeb;
}

th {
  background-color: #b7eefb;
}

img.favicon {
  width: 16px;
  height: 16px;
  margin: 0 5px;
  vertical-align: middle;
}
