html {
  touch-action: manipulation;
}

body {
  margin: 0;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  margin: auto;
  padding: 0;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  margin: 0;
  background-color: pink;
  font-size: 18px;
}

div {
  padding-bottom: 5px;
}

ul {
  text-align: left;
}

#inputText {
  width: 400px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}
