html {
  touch-action: manipulation;
}

body {
  margin: 0px;
  background-color: #ccffff;
}

#contents {
  max-width: 500px;
  margin: auto;
  padding: 0px;
  text-align: center;
  background-color: #ffffff;
}

h1 {
  margin: 0px;
  background-color: pink;
  font-size: 18px;
}

div.inner {
  margin: 5px;
}

div.pink {
  margin-bottom: 5px;
  border: solid 3px pink;
}

ul {
  text-align: left;
}
